/* Train */

.main-train{
    margin-top: 7%;
  }
  
  .st0{fill:#fff}
  .st2{fill:#5d89af}
  .st3{fill:#709abf}
  .st4,.st6{
    fill:#fff;
    stroke:#b3dcdf;
    stroke-miterlimit:10
  }
  .st6{
    stroke:#5d89af;
    stroke-width:2
  }
  .st7,.st8,.st9{
    stroke:#709abf;
    stroke-miterlimit:10
  }
  
  .st7{
    stroke-width:5;
    stroke-linecap:round;
    fill:none
  }
  .st8,.st9{
    fill:#fff
  }
  .st9{
    fill:none
  }
  .st10{
    
  }
  
  #cloud1{
    animation: cloud003 15s linear infinite;
  }
  
  #cloud2{
    animation: cloud002 25s linear infinite;
  }
  
  #cloud3{
    animation: cloud003 20s linear infinite;
  }
  
  #cloud4{
    animation: float 4s linear infinite;
  }
  
  #cloud5{
    animation: float 8s linear infinite;
  }
  
  #cloud7{
    animation: float 5s linear infinite;
  }
  
  #tracks{
    animation: slide 650ms linear infinite;
  }
  
  #bumps{
    animation: land 10000ms linear infinite;
  }
  
  @keyframes jig {
      0% { transform: translateY(0px); }
      50% { transform: translateY(1px); }
      100% { transform: translateY(0px); }
  }
  
  #car-layers{
    animation: jig 0.35s linear infinite;
  }
  
  @keyframes land {
      from { transform: translateX(0); }
      to { transform: translateX(1000px); }
  }
  
  
  @keyframes slide {
      from { transform: translateX(0px); }
      to { transform: translateX(100px); }
  }
  
  /* @keyframes cloudFloat {
    0% { transform: translateX(0) translateY(3px); }
    100% { transform: translateX(1000px) translateY(0); }
  } */
  
  @keyframes cloud001 {
    0% { transform: translateX(-1000px) translateY(3px); }
    100% { transform: translateX(1000px) translateY(0); }
  }
  
  @keyframes cloud002 {
    0% { transform: translateX(-1000px) translateY(3px); }
    100% { transform: translateX(1000px) translateY(0); }
  }
  
  @keyframes cloud003 {
    0% { transform: translateX(-1000px) translateY(3px); }
    100% { transform: translateX(1000px) translateY(0); }
  }
  
  @keyframes float {
      0% { transform: translateY(0px) translateX(0); }
      50% { transform: translateY(8px) translateX(5px); }
      100% { transform: translateY(0px) translateX(0); }
  }
  
  #bracefront, #braceback{
    animation: braces 1s linear infinite;
  }
  
  @keyframes braces {
      0% { transform: translateX(-2px); }
    25% { transform: translateX(3px); }
      50% { transform: translateX(-2px); }
      75% { transform: translateX(3px); }
    100% { transform: translateX(-2px); }
  }

  /* Terminal */

  .window {
    border-radius: 10px;
    background: #222;
    color: #fff;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 70%;
}
.window:before {
    content: ' ';
    display: block;
    height: 48px;
    background: #c6c6c6;
}
.window:after {
    content: '. . .';
    position: absolute;
    left: 12px;
    right: 0;
    top: -3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 96px;
    color: #fff;
    line-height: 0;
    letter-spacing: -12px;
}
.terminal {
    margin: 20px;
    font-family: monospace;
    font-size: 16px;
    /* color: #22da26; */
}
.terminal .command {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: write-command 5s both;
}
.terminal .command:before {
    content: 'guilherme@linux:~$ ';
    color: #22da26;
}
.terminal .log {
    white-space: nowrap;
    overflow: hidden;
    animation: write-log2 3s both;
}
/*
.terminal p:nth-child(2) {
    animation-delay: 1s;
}
.terminal p:nth-child(3) {
    animation-delay: 8s;
}
*/
@keyframes write-command {
    0% {
        width: 0%;
   }
    100% {
        width: 100%;
   }
}
@keyframes write-log {
    0% {
        height: 0;
   }
    16% {
        height: 0;
   }
    17% {
        height: 18px;
   }
    33% {
        height: 18px;
   }
    34% {
        height: 37px;
   }
    51% {
        height: 37px;
   }
    52% {
        height: 55px;
   }
    69% {
        height: 55px;
   }
    70% {
        height: 74px;
   }
    87% {
        height: 74px;
   }
    88% {
        height: 92px;
   }
    88% {
        height: 92px;
   }
    99% {
        height: 92px;
   }
    100% {
        height: 110px;
   }
}
@keyframes write-log2 {
    0% {
        height: 0;
   }
    50% {
        height: 0;
   }
    51% {
        height: 18px;
   }
    100% {
        height: 18px;
   }
}

/* Cursor Piscante */

.cursor{
    font-size: 20px;
    font-family: cursive;
    color: white;
    animation: blink 1s linear infinite;
}
.cursor:before{
  	content: '▮';
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: 0;}
51%{opacity: 1;}
100%{opacity: 1;}
}

/* Em telas com largura igual ou inferior a 600 px, alguns elementos sofrem alterações */

@media screen and (max-width: 600px) {
    .window {
        margin: 0 0;
        width: 100%;
    }
    .terminal {
        font-size: 12px;
    }
    .cursor{
        font-size: 17px;
    }
}