<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teste</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Icones -->
  <link rel="stylesheet" href="{{ '/assets/css/test.css' | relative_url}}">
</head>
<body>

  <div  style="margin-top:20px;margin-bottom:30px;text-align:center;">
    <img src="https://icon-library.net/images/icon-programing/icon-programing-29.jpg" style="width: 100px;margin-bottom:15px">
    <h1>Guilherme Rodrigues</h1>
  </div>

  <!-- NavBar -->
  <div class="navbar">
      <a href="{{ site.github.url }}">Home</a>
      <a href="#news">Sobre</a>
      <div class="dropdown">
        <button class="dropbtn">Paginas 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="dropdown-button">
          <!-- <a href="#">Link 1</a> -->
          <!-- <a href="#">Link 2</a> -->
        </div>
      </div> 
    </div>

  <div id="main-div"></div>

  <!-- Conteudo Markdown -->
  <div>
    {{ content }}
  </div>

<!--   <div>
    <p> {{ site.url }} </p>
    <p> {{ page.url }} </p>
    <p> {{ page.dir }} </p>
    <p> {{ page.path }} </p>
    <p> {{ page.categories }} </p>
    <p> {{ site.github.repository_name }} </p>
    <p> {{ site }} </p>
    <p> {{ page }} </p>
    <p> {{ site.github }} </p>
  </div> -->

  <!-- Scripts -->
  <script src="{{ '/assets/js/test.js' | relative_url}}"></script>
    
</body>
</html>