<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teste</title>
</head>
<body>

  <div id="main-div"></div>
  <div>
    <p> {{ site.url }} </p>
    <p> {{ page.url }} </p>
    <p> {{ page.dir }} </p>
    <p> {{ page.path }} </p>
    <p> {{ page.categories }} </p>
    <p> {{ site.github.repository_name }} </p>
    <p> {{ site }} </p>
    <p> {{ page }} </p>
    <p> {{ site.github }} </p>
  </div>

  <!-- Scripts -->
  <script src="../assets/js/test.js"></script>
    
</body>
</html>